<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <title>Go/ - The Brandwatch URL Shortener</title>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Go/</a>
            </div>
        </div>
    </nav>

    <div class="container">
        {{{body}}}
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6">
                    <p class="text-muted">
                        <a href="/">Go/</a>
                        is a Funky Friday project by
                        <a href="https://brandwatch.breathehr.com/employees/directory?name=allard">
                            allard@</a>
                    </p>
                </div>
                <div class="col-lg-6 col-sm-6">
                    <p class="text-muted text-right">Report a bug</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
