
<div class="row">
    <div class="col-lg-10 col-md-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1 class="panel-title">Create a new Go link</h1>
            </div>
            <div class="panel-body">
                <form role="form" method="post" action="/create-link">
                    <div class="form-group">
                        <label for="fullUri">
                            Paste the original URL here
                        </label>
                        <input type="text"
                                class="form-control"
                                autofocus
                                name="fullUri"
                                placeholder="http://dogr.io/wowgo/suchlongurl/nowmuchshort/amaze.png">
                    </div>
                    <div class="form-group">
                        <label for="shortUri">
                            Enter the short URL you want
                        </label>
                        <div class="input-group">
                            <span class="input-group-addon"><strong>go /</strong></span>
                            <input type="text"
                                    class="form-control"
                                    name="shortUri"
                                    placeholder="suchwow">
                        </div>
                    </div>
                    <button id="submitCreateLink" type="submit" class="btn btn-primary">
                        Create Go link!
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

