<h1>Go/</h1>

<h2>Create a new Go link</h2>

<form action="/" method="post">
    <input name="fullUri" type="text">
    <br>
    <input name="shortUri" type="text">
    <br>
    <input type="submit" value="Create link">
</form>
